*{
  margin:0;
  padding: 0;
}

/* Estilos Globales para Encabezados Tradicionales */
.page-header {
  text-align: center;
  margin-bottom: 48px;
}

.page-title {
  font-size: 32px;
  font-weight: 800;
  color: #FFFFFF;
  margin: 0;
}

.title-divider {
  width: 96px;
  height: 4px;
  background-color: #F2741D;
  margin: 8px auto 0 auto;
}